/* FONTS */

@font-face {
    font-family: euro-furence;
    src: url(../fonts/eurofurence/eurof55.ttf);
}

@font-face {
    font-family: lato-bold;
    src: url(../fonts/lato-bold/Lato-Bold.ttf);
}

@font-face {
    font-family: lato-regular;
    src: url(../fonts/lato-regular/Lato-Regular.ttf);
}


/*-------*/


/* BASICS */

* {
    box-sizing: border-box;
}

html {
    font-family: play, serif;
    color: #626262;
    line-height: 1.714;
}

body {
    margin: 0;
    font-size: 0.875rem;
}

.logo {
    font-family: euro-furence, sans-serif;
    color: #FFFFFF;
    font-size: 2.5rem;
    text-transform: capitalize;
}

a,
button:hover {
    cursor: pointer;
}

img {
    width: 100%;
}


/* Components */

.logo span {
    color: #58C93A;
}

.nav-bar a {
    height: 131px;
    width: 133px;
    text-decoration: none;
    color: #FFFFFF;
    font-family: lato-bold, sans-serif;
    font-size: 1rem;
}

.nav-bar a:hover {
    color: #58c93a;
    box-shadow: inset 0 -6px 0 #58c93a;
}

.header {
    background-color: #292929;
    box-shadow: inset 0 -6px 0 #1e1e1e;
}

.header-container {
    margin: 0 auto;
}

.post {
    margin-bottom: 4.8125rem;
}

.nav-bar li {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.nav-bar> :last-child {
    border-right: 1px solid black;
}

.main-container {
    max-width: 980px;
    margin: 0 auto;
}

.posts-container {
    border-right: 2px solid #E1E0E0;
    border-left: 2px solid #E1E0E0;
}

.posts-container> :first-child {
    padding-top: 5.0625rem;
}

.post-image {
    align-self: flex-start;
    object-fit: cover;
    max-width: 469px;
}

.img-container img {
    height: 100%;
}

.post-content {
    flex-basis: 50%;
    padding-right: 1.5625rem;
    padding-left: 1.5625rem;
}

.post-content h2 {
    font-size: 1.75rem;
    color: #4F4E4E;
    font-family: lato-bold, serif;
}

.post-content p {
    font-size: 1rem;
    color: #606060;
    font-family: lato-regular, serif;
}

.post-content>* {
    margin: 0;
}

.post-btn:focus {
    outline: none;
    border-color: #000;
}

.post-btn {
    padding: 0 1.25em;
    line-height: 2.5em;
    position: relative;
    align-self: flex-start;
    border-radius: 2em;
    outline: none;
    font-family: lato-bold, serif;
    font-size: 1rem;
    color: #C2C2C2;
    border-color: #C2C2C2;
    background-color: white;
    border-style: solid;
    transition: padding .6s;
}

.post-btn:hover {
    border: 2px solid #58c93a;
    color: #58c93a;
    padding-inline-end: 2.875em;
}

.post-btn:hover::after {
    content: '→';
    position: absolute;
    right: .875em;
}

.post-btn-arrow {
    width: 15px;
    visibility: hidden;
    color: #58c93a;
    margin-inline-start: 10px;
}

.post-btn:hover .card-btn-arrow {
    visibility: visible;
}

.paging {
    border-top: 2px solid #E1E0E0;
}

.paging a {
    color: #818181;
    font-size: 1.125rem;
    font-family: lato-bold, serif;
    margin: 20px;
    transition: .3s;
}

.paging a:hover {
    color: #3b3b3b;
    transform: scale(1.05);
    transition: .3s;
}

.main-footer {
    background-color: #F8F8F8;
    border-top: 2px solid #E1E0E0;
    padding-top: 81px;
    padding-bottom: 50px;
}

.footer-container .logo {
    color: #292929;
    font-size: 2.5rem;
}

.footer-container small {
    font-size: .8125rem;
    font-family: lato-regular, serif;
}

.footer-container span {
    font-size: .8125rem;
    font-weight: bold;
}

.footer-container :not(:last-child) {
    padding-bottom: 31px;
}

.menu-btn {
    display: none;
    width: 40px;
    height: 40px;
}

.menu-svg {
    width: 30px;
    object-fit: cover;
}


/* TODO: Put the modal in a flex container to center it. */

.modal {
    display: none;
    opacity: 0;
    transition: opacity 0.8s;
}

.modal-content {
    background-color: white;
    width: 90%;
    height: 90%;
    flex-direction: column;
}

.modal-content .modal-text {
    font-size: 1rem;
    color: #606060;
    font-family: lato-regular, sans-serif;
    align-self: center;
}

.modal-content .modal-title {
    font-family: lato-bold, serif;
    font-size: 1.75rem;
    color: #4F4E4E;
    align-self: center;
}

.modal-content .modal-input {
    align-self: center;
    width: 24.75rem;
    font-size: 1rem;
    height: 30px;
    font-family: lato-bold, sans-serif;
    outline: none;
}

.modal-content .modal-close-btn {
    font-family: lato-bold, sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    width: 7rem;
    height: 2rem;
    background-color: #b3b3b3;
    color: white;
    outline: none;
    align-self: flex-end;
}

.modal-content .modal-submit-btn {
    font-family: lato-bold, sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    width: 7rem;
    height: 2rem;
    background-color: #b3b3b3;
    color: white;
    outline: none;
    align-self: flex-end;
}

.modal-buttons {
    display: flex;
    flex: 1;
    justify-content: space-between;
}


/* Quest: Can I place multiple transitions? */

body.modal-show .modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: white;
    margin: auto;
    z-index: 1;
    right: 36%;
    top: 21%;
    width: 600px;
    height: 500px;
    border: 1px solid lightgray;
    opacity: 1;
    transition: opacity 0.8s;
}

.main-screen {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 30%);
    opacity: 0;
    transition: opacity 0.8s;
    cursor: pointer;
}

body.modal-show .main-screen {
    visibility: visible;
    opacity: 1;
}

body.modal-show .post-btn {
    position: static;
}


/* .journals {
    width: 100%;
    height: 200px;
    background-color: bisque;
    position: relative;
} */


/* Helpers */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.flex.justify-content {
    justify-content: center;
}

.flex.direction-column {
    flex-direction: column;
}

.flex.flex-start {
    flex: start;
}


/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


/* Social icons */

.fa {
    padding: 14px;
    font-size: 30px;
    width: 41px;
    height: 41px;
    text-align: center;
    text-decoration: none;
    margin: 0 2px;
}

.fa-facebook {
    background: transparent;
    color: #3B5998;
}

.fa-facebook:hover {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: transparent;
    color: #55ACEE;
}

.fa-twitter:hover {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: transparent;
    color: #007bb5;
}

.fa-linkedin:hover {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: transparent;
    color: #125688;
}

.fa-instagram:hover {
    background: #125688;
    color: white;
}


/* MEDIA QUERIES */


/* Large breakpoint */

@media only screen and (max-width: 1040px) {
    .main-container {
        width: 800px;
    }
    .post-content p:last-of-type {
        margin-block-end: 1.25rem;
    }
    .post-content p:first-of-type {
        margin-bottom: .9375rem;
    }
    body.modal-show .modal {
        right: 18%;
    }
}


/* Medium breakpoint */

@media only screen and (max-width: 860px) {
    .main-container {
        width: 100%;
    }
    .post-content p:last-of-type {
        margin-block-end: 1.25rem;
    }
    .post {
        flex-direction: column;
        padding: 1.25rem;
    }
    .post-image {
        max-width: 100%;
        height: auto;
    }
    .img-container {
        flex-basis: 100%;
        margin-block-end: .625rem;
    }
    .header-container {
        padding-right: 20px;
        padding-left: 20px;
    }
    .post-content {
        padding: 0px;
    }
    body.modal-show .modal {
        right: 11%;
    }
}


/* Small breakpoint */

@media only screen and (max-width: 740px) {
    .menu-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-bar {
        position: fixed;
        flex-direction: column;
        right: 0;
        top: 0;
        height: 100vh;
        width: 250px;
        background-color: #292929;
        transform: translateX(100%);
        transition: transform 0.8s;
        z-index: 1;
    }
    .nav-bar a {
        width: 100%;
        font-size: 1.25rem;
    }
    body.menu-open .nav-bar {
        transform: translateX(0);
        transition: all 0.8s;
        box-shadow: -4px 0px 20px 0px #ffffffc4;
    }
    body.menu-open .main-screen {
        visibility: visible;
        opacity: 1;
    }
    body.menu-open .post-btn {
        position: static;
    }
    .footer-container small {
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }
    .header {
        box-shadow: 0px 0px 0px 0px #ffffffc4;
    }
    body.modal-show .modal {
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: 100vh;
    }
}